.wrap .main-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.wrap .main-header .fixed-top {
  width: 100%;
  min-width: 1200px;
  top: 0;
  left: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 25px 40px 0 40px;
  transition: all 0.2s;
  background: #fff;
  border-bottom: 1px solid #bebebe;
}
.wrap .main-header .fixed-top__left {
  position: relative;
}
.wrap .main-header .fixed-top__left a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrap .main-header .fixed-top__left .logo {
  width: 203px;
  height: 67px;
  transition: all 0.2s;
  background: url("../img/main/logo_color.svg") no-repeat center;
}
.wrap .main-header .fixed-top__mid {
  display: flex;
}
.wrap .main-header .fixed-top__mid li {
  position: relative;
  margin: 0 13px;
}
.wrap .main-header .fixed-top__mid li a {
  font-size: 17px;
  color: #3d3d3d;
  font-weight: 400;
  transition: all 0.2s;
  display: block;
  padding-bottom: 22px;
  white-space: pre;
}
.wrap .main-header .fixed-top__right {
  display: flex;
  align-items: center;
  position: relative;
}
.wrap .main-header .fixed-top__right .lj-btn {
  position: absolute;
  right: 0px;
  top: -53px;
  width: 116px;
}
.wrap .main-header .fixed-top__right .lj-btn span a {
  font-size: 15px;
  transition: all 0.2s;
  color: #3d3d3d;
}
.wrap .main-header .fixed-top__right .lj-btn .login {
  margin-right: 14px;
}
.wrap .main-header .fixed-top__right i {
  width: 24px;
  height: 25px;
  cursor: pointer;
  display: block;
}
.wrap .main-header .fixed-top__right .search {
  background: url("../img/main/search_black.svg") no-repeat center;
  margin-right: 20px;
  background-position: 0 2px;
  background-size: 100%;
}
.wrap .main-header .fixed-top__right .menu {
  background: url("../img/main/menu_color.svg") no-repeat center;
  background-size: 100% 100%;
}
.wrap .fixed-top.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.3);
}
.wrap .fixed-top.active .lj-btn span a {
  color: #fff;
}
.wrap .fixed-top.active .fixed-top__left .logo {
  background: url("../img/main/logo.svg") no-repeat center;
}
.wrap .fixed-top.active .fixed-top__mid a {
  color: #fff;
}
.wrap .fixed-top.active .fixed-top__right .search {
  background: url("../img/main/search.svg") no-repeat center;
  background-size: 100% 100%;
}
.wrap .fixed-top.active .fixed-top__right .menu {
  background: url("../img/main/menu.svg") no-repeat center;
  background-size: 100% 100%;
}

.sports-main .fixed-right {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.sports-main .fixed-right ul {
  display: flex;
  flex-direction: column;
}
.sports-main .fixed-right ul li {
  color: #fff;
  font-size: 15px;
  margin: 7px 0;
  text-align: right;
  transition: color 0.5s;
  cursor: pointer;
}
.sports-main .fixed-right ul li.on {
  font-weight: bold;
}
.sports-main .fixed-right ul li.active_1 {
  color: #90a4b5;
}
.sports-main .fixed-right ul li.active_2 {
  color: #949494;
}
.sports-main .fixed-right ul li.active_3 {
  color: #8fb3d5;
}
.sports-main .fixed-right ul li.active_4 {
  color: #ababab;
}
.sports-main .ssp-text {
  font-size: 13px;
  font-weight: 400;
  transform: rotateZ(-90deg);
  color: #979797;
  position: absolute;
  left: -40px;
  top: 50%;
  transition: color 0.5s;
  z-index: 1;
}
.sports-main .section {
  height: 100vh;
  width: 100%;
  min-width: 1200px;
  position: relative;
  overflow: hidden;
}
.sports-main .section .inner {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}
.sports-main .section .inner h3 {
  font-size: 25px;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 46px;
}
.sports-main .section .inner .btn-detail {
  font-size: 18px;
  color: #3d3d3d;
  font-weight: bold;
  border: 1px solid #64727e;
  border-radius: 31px;
  background: #fff;
  display: block;
  width: 155px;
  height: 50px;
  line-height: 48px;
  margin: 20px auto 0;
  text-align: center;
}
.sports-main .section .inner .btn-detail:hover {
  background: #00B6D7;
  color: #fff;
  border: 1px solid #00B6D7;
  transition: all 0;
}
.sports-main .section .inner .btn-detail:not(:hover) {
  transition: all 0.2s;
  color: #3d3d3d;
  border: 1px solid #64727e;
  background: #fff;
}
.sports-main .section.info .ssp-text {
  color: #90a4b5;
}
.sports-main .section.people .ssp-text {
  color: #949494;
}
.sports-main .section.media .ssp-text {
  color: #8fb3d5;
}
.sports-main .section.schedule .ssp-text {
  color: #ababab;
}
.sports-main .section.guide .ssp-text {
  color: #ababab;
}
.sports-main .main-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sports-main .main-slider ul {
  width: 400%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: -100%;
}
.sports-main .main-slider ul li {
  width: calc(400%/4);
  height: 100%;
}
.sports-main .main-slider ul .first {
  background: url("../img/main/main_slide_back4.png") no-repeat center;
}
.sports-main .main-slider ul .second {
  background: url("../img/main/main_slide_back1.png") no-repeat center;
}
.sports-main .main-slider ul .third {
  background: url("../img/main/main_slide_back2.png") no-repeat center;
}
.sports-main .main-slider ul .fourth {
  background: url("../img/main/main_slide_back3.png") no-repeat center;
}
.sports-main .main .inner-contents {
  margin-top: 180px;
}
.sports-main .main .inner-contents__center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 1200px;
  width: 100%;
}
.sports-main .main .inner-contents__center .text h1 {
  color: #fff;
  font-size: 53px;
  font-weight: 500;
  font-family: "NotoSerif", sans-serif;
  margin-bottom: 45px;
  line-height: 1.2;
  position: relative;
}
.sports-main .main .inner-contents__center .text p {
  color: #fff;
  font-size: 30px;
  font-family: "NotoSans";
  margin-bottom: 100px;
  line-height: 1.33;
  font-weight: normal;
}
.sports-main .main .inner-contents__center .text h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: "NotoSans";
}
.sports-main .main .inner-contents__center .boxs {
  position: relative;
  top: 70px;
}
.sports-main .main .inner-contents__center .boxs-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.sports-main .main .inner-contents__center .boxs-top .box:first-child {
  background: url("../img/main/main_icon_1.svg") no-repeat rgba(255, 255, 255, 0.1);
  background-position: center 44px;
  backdrop-filter: blur(2px);
}
.sports-main .main .inner-contents__center .boxs-top .box:first-child:hover {
  background: url("../img/main/main_icon_1.svg") no-repeat #00B6D7;
  background-position: center 44px;
  transition: 0.2s;
}
.sports-main .main .inner-contents__center .boxs-bottom .box {
  float: left;
}
.sports-main .main .inner-contents__center .boxs-bottom .box:first-child {
  margin-right: 30px;
  background: url("../img/main/main_icon_2.svg") no-repeat rgba(255, 255, 255, 0.1);
  background-position: center 44px;
  backdrop-filter: blur(2px);
}
.sports-main .main .inner-contents__center .boxs-bottom .box:first-child:hover {
  background: url("../img/main/main_icon_2.svg") no-repeat #6CC0BA;
  background-position: center 44px;
  transition: 0.2s;
}
.sports-main .main .inner-contents__center .boxs-bottom .box:last-child {
  background: url("../img/main/main_icon_3.svg") no-repeat rgba(255, 255, 255, 0.1);
  background-position: center 44px;
  backdrop-filter: blur(2px);
}
.sports-main .main .inner-contents__center .boxs-bottom .box:last-child:hover {
  background: url("../img/main/main_icon_3.svg") no-repeat #006FAF;
  background-position: center 44px;
  transition: 0.2s;
}
.sports-main .main .inner-contents__center .boxs .box {
  width: 177px;
  height: 177px;
  border: 1px solid #fff;
  position: relative;
  background-position: center 45px;
  overflow: hidden;
}
.sports-main .main .inner-contents__center .boxs .box a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sports-main .main .inner-contents__center .boxs .box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sports-main .main .inner-contents__center .boxs .box span {
  color: #fff;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}
.sports-main .main .inner-contents__foot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 124px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-left.active {
  background: url("../img/main/arrow_right.svg") no-repeat;
  transform: rotateZ(180deg);
  width: 18px;
  height: 14px;
  display: inline-block;
  opacity: 1;
  pointer-events: unset;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-left {
  opacity: 0.5;
  background: url("../img/main/arrow_right.svg") no-repeat;
  transform: rotateZ(180deg);
  width: 18px;
  height: 14px;
  display: inline-block;
  pointer-events: none;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-right {
  background: url("../img/main/arrow_right.svg") no-repeat;
  width: 18px;
  height: 14px;
  display: inline-block;
  margin-right: 20px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time {
  display: flex;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item {
  margin: 0 12px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 46px;
  height: 46px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .circle-back {
  position: absolute;
  inset: 0;
  color: var(--inactive-color);
  stroke: currentColor;
  stroke-width: var(--stroke-width);
  fill: none;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .circle-front {
  position: absolute;
  inset: 0;
  color: var(--color);
  stroke: currentColor;
  stroke-width: var(--stroke-width);
  fill: none;
  /* Make the start of the animation visible from above. */
  transform: rotate(-90deg);
  /*  */
  stroke-dasharray: 157 157;
  stroke-dashoffset: -157;
  transition: stroke-dashoffset ease-in-out 500ms;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .circle.active .circle-front {
  /* Animate with keyframes instead of transition. */
  transition: none;
  /* Indication of 0% progress. */
  stroke-dasharray: 0 157;
  stroke-dashoffset: 0;
  animation: spin 5s linear infinite;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/main/pause_white.svg") no-repeat center;
  background-size: 100%;
  position: relative;
}
.sports-main .main .inner-contents__foot .itr-btn__slide .arrow-time__item .dot.pause {
  display: inline-block;
  width: 12px;
  height: 14px;
  background: url("../img/main/play_w.svg") no-repeat center;
  background-size: 100%;
  left: 2px;
  position: relative;
}
@keyframes spin {
  from {
    stroke-dasharray: 0 157;
  }
  to {
    stroke-dasharray: 157 157;
  }
}
.sports-main .main .inner-contents__foot .itr-btn__slide .page {
  color: #fff;
  font-size: 15px;
}
.sports-main .main .inner-contents__foot .itr-btn__slide span {
  cursor: pointer;
}
.sports-main .main .inner-contents__foot .itr-btn__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 53px;
}
.sports-main .main .inner-contents__foot .itr-btn__scroll .line {
  width: 1px;
  height: 46px;
  background: #fff;
  margin-bottom: 23px;
  opacity: 0.5;
}
.sports-main .main .inner-contents__foot .itr-btn__scroll .m-icon {
  width: 22px;
  height: 34px;
  background: url("../img/main/mouse.svg") no-repeat;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  top: 0;
  animation: mouse 1s ease infinite;
}
@keyframes mouse {
  from {
    top: 0;
  }
  to {
    top: 15px;
  }
}
.sports-main .main .inner-contents__foot .itr-btn__scroll span {
  font-size: 14px;
  color: #fff;
  font-family: "NotoSans", sans-serif;
  font-weight: 300;
}
.sports-main .info {
  min-height: 950px;
  background: #e4f3f8;
}
.sports-main .info .inner {
  width: 100%;
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 240px;
}
.sports-main .info .inner h3 {
  margin-bottom: 45px;
}
.sports-main .info .inner ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sports-main .info .inner ul li {
  border: 1px solid #648a97;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  width: 280px;
  height: 328px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sports-main .info .inner ul li .icon-wrap {
  width: 112px;
  height: 50px;
  margin-bottom: 18px;
  position: relative;
}
.sports-main .info .inner ul li .icon-wrap img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.sports-main .info .inner ul li span {
  font-size: 18px;
  font-family: "NotoSans", sans-serif;
  font-weight: 500;
  display: block;
}
.sports-main .info .inner ul li strong {
  color: #1d5d95;
  font-size: 35px;
  line-height: 1.1;
}
.sports-main .info .inner ul li:nth-child(3) {
  position: relative;
}
.sports-main .info .inner ul li:nth-child(3) strong {
  position: relative;
}
.sports-main .info .inner ul li:nth-child(3) em {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  color: #3d3d3d;
  font-style: normal;
  top: 245px;
  font-family: "NotoSans", sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  left: 0;
}
.sports-main .info .inner .txt {
  position: relative;
  text-align: center;
}
.sports-main .info .inner .txt::before {
  content: "";
  display: block;
  width: 232px;
  height: 289px;
  position: absolute;
  background: url("../img/main/sec_2_people.png") no-repeat;
  left: 95px;
  top: -115px;
}
.sports-main .info .inner .txt p {
  font-size: 18px;
  color: #3d3d3d;
  line-height: 1.67;
  margin-top: 54px;
  margin-bottom: 31px;
}
.sports-main .people {
  background: #f3f3f3;
  min-height: 950px;
}
.sports-main .people .inner {
  padding-top: 9%;
  width: 1550px;
}
.sports-main .people .inner h3 {
  margin-bottom: 53px;
}
.sports-main .people .inner .itv-banner--topslider {
  width: 1552px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.sports-main .people .inner .itv-banner--topslider .center-circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #0cafb5;
  z-index: 1;
  top: 32px;
}
.sports-main .people .inner .itv-banner--topslider ul .slider-nav--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 25px;
  transition: 1s;
  opacity: 1;
}
.sports-main .people .inner .itv-banner--topslider ul .slider-nav--item .p-name {
  font-weight: bold;
  font-size: 15px;
  color: #3d3d3d;
  margin-bottom: 10px;
  top: -30px;
}
.sports-main .people .inner .itv-banner--topslider ul .slider-nav--item .p-name.active {
  display: block;
}
.sports-main .people .inner .itv-banner--topslider ul .slider-nav--item .p-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}
.sports-main .people .inner .itv-banner--topslider ul .slider-nav--item.hide {
  opacity: 0;
}
.sports-main .people .inner .itv-banner--topslider ul li.hide {
  opacity: 0.1;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots {
  align-items: center;
  display: flex;
  justify-content: center;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots li {
  width: unset;
  height: unset;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots li button {
  width: 7px;
  height: 7px;
  background: #d4d4d4;
  border-radius: 50%;
  padding: 0;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots li button::before {
  content: "";
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots li.slick-active button {
  background: #0cafb5;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots .btn-play {
  width: 10px;
  height: 11px;
  margin-left: 10px;
  cursor: pointer;
  background: url("../img/main/pause.svg") no-repeat;
  display: inline-block;
}
.sports-main .people .inner .itv-banner--topslider ul .slick-dots .btn-play.pause {
  background: url("../img/main/play.svg") no-repeat;
}
.sports-main .people .inner .itv-banner--topslider .slick-dotted.slick-slider {
  margin-bottom: 65px;
}
.sports-main .people .inner .itv-banner__idc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  position: relative;
}
.sports-main .people .inner .itv-banner__idc .circle-blue {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #0cafb5;
  top: -171px;
}
.sports-main .people .inner .itv-banner__idc span {
  cursor: pointer;
}
.sports-main .people .inner .itv-banner__idc span:not(.btn-pp) {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d4d4d4;
  margin-right: 5px;
}
.sports-main .people .inner .itv-banner__idc span:not(.btn-pp).active {
  background: #0cafb5;
}
.sports-main .people .inner .itv-banner__idc .btn-pp {
  width: 10px;
  height: 11px;
  background: url("../img/main/play.svg") no-repeat;
  margin-left: 10px;
  cursor: pointer;
}
.sports-main .people .inner .itv-banner__idc .btn-pp.play {
  background: url("../img/main/pause.svg") no-repeat;
}
.sports-main .people .inner .itv-banner__info {
  margin-top: 37px;
  width: 1200px;
  margin: 0 auto 43px;
  overflow: hidden;
  position: relative;
  height: 270px;
}
.sports-main .people .inner .itv-banner__info--slide {
  width: 100%;
  position: relative;
  height: 100%;
  left: 0;
}
.sports-main .people .inner .itv-banner__info--slide dl {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.sports-main .people .inner .itv-banner__info--slide dl .thumb img {
  width: 264px;
  height: 264px;
  border-radius: 50%;
}
.sports-main .people .inner .itv-banner__info--slide dl dt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 245px;
}
.sports-main .people .inner .itv-banner__info--slide dl dt span {
  font-weight: bold;
  font-size: 17px;
  color: #3d3d3d;
}
.sports-main .people .inner .itv-banner__info--slide dl dt h4 {
  font-size: 32px;
  font-weight: 400;
  color: #2b6cac;
  line-height: 1.22;
  margin: 9px 0 15px 0;
  font-family: "NotoSerif", sans-serif;
}
.sports-main .people .inner .itv-banner__info--slide dl dt h4.player {
  color: #3d3d3d;
}
.sports-main .people .inner .itv-banner__info--slide dl dd {
  width: 600px;
  padding: 0px 0 9px 53px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid #c9c9c9;
}
.sports-main .people .inner .itv-banner__info--slide dl dd p {
  font-size: 16px;
  line-height: 1.75;
  color: #3d3d3d;
  width: 100%;
}
.sports-main .people .inner .itv-banner__info--slide dl dd span {
  background: url("../img/main/detail_arrow.svg") no-repeat;
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  padding-top: 20px;
  background-position-y: 3px;
  display: block;
}
.sports-main .people .inner .itv-banner__info--slide dl dd span a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sports-main .people .inner .itv-banner .txt p {
  font-size: 14px;
  color: #3d3d3d;
  text-align: center;
  margin-top: 16px;
}
.sports-main .media {
  background: url("../img/main/media_back.png") no-repeat center;
  align-items: unset;
  position: relative;
  min-height: 950px;
}
.sports-main .media .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.25;
}
.sports-main .media .inner {
  padding-top: 9%;
  position: relative;
}
.sports-main .media .inner h3 {
  color: #fff !important;
  margin-bottom: 84px;
}
.sports-main .media .inner .txt p {
  color: #fff;
  text-align: center;
  padding-top: 17px;
}
.sports-main .media .inner-player ul {
  display: flex;
  margin-top: 60px;
  height: 347px;
  justify-content: space-between;
  align-items: center;
}
.sports-main .media .inner-player ul li {
  width: 278px;
  height: 172px;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.sports-main .media .inner-player ul li .v-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.sports-main .media .inner-player ul li .v-wrap__thum {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #8f8f8f;
}
.sports-main .media .inner-player ul li .v-wrap__thum img {
  width: 100%;
  height: 100%;
}
.sports-main .media .inner-player ul li .v-wrap__thum .btn-play {
  display: flex;
  width: 56px;
  height: 56px;
  position: absolute;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}
.sports-main .media .inner-player ul li .v-wrap__thum .btn-play img {
  width: 16px;
  position: relative;
  left: 2px;
}
.sports-main .media .inner-player ul li .v-wrap__thum dl {
  background: rgba(0, 0, 0, 0.58);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 90px 18px 23px;
  display: none;
}
.sports-main .media .inner-player ul li .v-wrap__thum dl dt {
  font-size: 15px;
  color: #fff;
  margin-bottom: 5px;
}
.sports-main .media .inner-player ul li .v-wrap__thum dl dd {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  line-height: 1.53;
}
.sports-main .media .inner-player ul li .v-wrap video {
  width: 100%;
  height: 100%;
}
.sports-main .media .inner-player ul li:first-child {
  transform-origin: left;
}
.sports-main .media .inner-player ul li:nth-child(2) {
  display: flex;
  transform-origin: center;
  position: relative;
}
.sports-main .media .inner-player ul li:last-child {
  transform-origin: right;
}
.sports-main .media .inner-player ul li.active {
  cursor: auto;
  transform: scale(2);
}
.sports-main .media .inner-player ul li.active .v-wrap .v-wrap__thum .btn-play {
  transform: scale(0.5) translate(-100%, -100%);
  cursor: pointer;
  background: #284297;
  border: 2px solid #fff;
}
.sports-main .media .inner-player ul li.active .v-wrap .v-wrap__thum dl {
  display: block;
  transform: scale(0.5);
  width: 200%;
  left: -138px;
  bottom: -31px;
}
.sports-main .media .inner-player__idt {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.sports-main .media .inner-player__idt span {
  display: inline-block;
  background-size: 100%;
  cursor: pointer;
}
.sports-main .media .inner-player__idt--left {
  background: url("../img/main/media_arrow.svg") no-repeat center;
  transform: rotateZ(180deg);
  width: 29px;
  height: 14px;
}
.sports-main .media .inner-player__idt--center {
  background: url("../img/main/media_idc_center.svg") no-repeat center;
  width: 14px;
  height: 14px;
}
.sports-main .media .inner-player__idt--right {
  background: url("../img/main/media_arrow.svg") no-repeat center;
  width: 29px;
  height: 14px;
}
.sports-main .media .inner-player .btn-detail {
  margin: 75px auto 0;
}
.sports-main .media .inner-player .txt p {
  font-size: 14px;
}
.sports-main .schedule {
  background: #f3f3f3;
  align-items: unset;
  min-height: 950px;
}
.sports-main .schedule .inner {
  padding-top: 9%;
}
.sports-main .schedule .inner h3 {
  margin-bottom: 0;
}
.sports-main .schedule .inner .sub-tit p {
  font-size: 15px;
  text-align: center;
  background: url("../img/main/sche_icon.svg") no-repeat;
  height: 78px;
  line-height: 78px;
  margin: -19px 0 3px 0;
}
.sports-main .schedule .inner .sub-tit__banner {
  width: 100%;
  height: 85px;
  background: url("../img/main/sche_banner.png") no-repeat;
  background-position: 0 0;
  margin-bottom: 20px;
}
.sports-main .schedule .inner .sub-tit__banner h6 {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
.sports-main .schedule .inner .sub-tit__banner h4 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin-right: 35px;
}
.sports-main .schedule .inner .sub-tit__banner span {
  font-size: 18px;
  font-weight: 500px;
  color: #fff;
}
.sports-main .schedule .inner .schedule-slider {
  min-height: 443px;
}
.sports-main .schedule .inner .schedule-slider__con {
  border: 1px solid #3d3d3d;
  display: flex;
  overflow: hidden;
}
.sports-main .schedule .inner .schedule-slider__con--item {
  width: 25%;
  height: 443px;
  border-right: 1px dashed #acacac;
  background: #fff;
  padding: 30px 70px 0 20px;
  position: relative;
}
.sports-main .schedule .inner .schedule-slider__con--item .date {
  font-family: "roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.sports-main .schedule .inner .schedule-slider__con--item .date-ym span {
  display: block;
  font-size: 15px;
  font-weight: 500;
}
.sports-main .schedule .inner .schedule-slider__con--item .date-ym__y {
  font-weight: 400 !important;
}
.sports-main .schedule .inner .schedule-slider__con--item .date-m {
  font-weight: 500;
  font-size: 15px;
  display: block;
}
.sports-main .schedule .inner .schedule-slider__con--item .date-y {
  font-size: 15px;
  font-weight: 400;
  display: block;
}
.sports-main .schedule .inner .schedule-slider__con--item .date strong {
  font-size: 45px;
  font-weight: 500;
}
.sports-main .schedule .inner .schedule-slider__con--item dl {
  margin-bottom: 25px;
}
.sports-main .schedule .inner .schedule-slider__con--item dl dt {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.4;
  word-break: keep-all;
}
.sports-main .schedule .inner .schedule-slider__con--item dl dd {
  font-size: 15px;
}
.sports-main .schedule .inner .schedule-slider__con--item .btn-more {
  width: 45px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  background: url("../img/main/sche_more.svg") no-repeat;
  background-position-x: 50%;
  bottom: 22px;
  font-size: 15px;
}
.sports-main .schedule .inner .schedule-slider__con--item .btn-more a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sports-main .schedule .inner .schedule-slider__con--item:nth-child(2) {
  background: #f3f3f3;
}
.sports-main .schedule .inner .schedule-slider__con--item:last-child {
  border-right: none;
}
.sports-main .schedule .inner .schedule-slider .slick-prev:before,
.sports-main .schedule .inner .schedule-slider .slick-next:before {
  content: "";
}
.sports-main .schedule .inner .schedule-slider .slick-arrow {
  display: block;
  width: 33px;
  height: 33px;
  background: url("../img/main/slide_arrow_active.svg") no-repeat;
}
.sports-main .schedule .inner .schedule-slider .slick-next {
  background: url("../img/main/slide_arrow_right_active.svg") no-repeat;
  right: -60px;
}
.sports-main .schedule .inner .schedule-slider .slick-prev {
  background: url("../img/main/slide_arrow_left_active.svg") no-repeat;
  left: -60px;
}
.sports-main .schedule .inner .schedule-slider .slick-prev.slick-disabled {
  background: url("../img/main/slide_arrow_left.svg") no-repeat;
}
.sports-main .schedule .inner .schedule-slider .slick-next.slick-disabled {
  background: url("../img/main/slide_arrow_right.svg") no-repeat;
}
.sports-main .schedule .inner .btn-detail {
  margin: 36px auto 0;
}
.sports-main .guide {
  background: #f2f7f9;
}
.sports-main .guide .inner {
  padding-top: 9%;
}
.sports-main .guide-con {
  border-bottom: 1px solid #9dadbb;
  background: url("../img/main/guide_ani.svg") no-repeat;
  background-position: right 10px;
}
.sports-main .guide-con h2 {
  font-size: 25px;
  font-weight: bold;
  color: #3d3d3d;
}
.sports-main .guide-con p {
  color: #3d3d3d;
  font-size: 15px;
}
.sports-main .guide-con .txt-a {
  margin-bottom: 26px;
  margin-top: 7px;
}
.sports-main .guide-con .txt-b {
  line-height: 1.53;
  margin-bottom: 35px;
}
.sports-main .guide-con .call {
  display: block;
  width: 175px;
  height: 50px;
  border: 1px solid #64727e;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  background: #fff;
  line-height: 48px;
  text-align: center;
  margin-bottom: 46px;
}
.sports-main .guide-con ul {
  display: flex;
  align-items: center;
  padding-bottom: 87px;
}
.sports-main .guide-con ul li {
  margin-right: 30px;
}
.sports-main .guide-con ul li a {
  font-family: "NotoSans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

:root {
  --color: #fff;
  --inactive-color: rgb(211, 211, 211);
  --stroke-width: 2;
}

.ggin-navi {
  width: 100%;
  height: 100px;
  background: #fff;
}
.ggin-navi .inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ggin-navi .inner__left {
  display: flex;
  align-items: flex-end;
}
.ggin-navi .inner__left .logo {
  position: relative;
  margin-right: 10px;
}
.ggin-navi .inner__left .logo a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.ggin-navi .inner__left strong {
  position: relative;
  top: -5px;
}
.ggin-navi .inner__right ul {
  display: flex;
  align-items: center;
}
.ggin-navi .inner__right ul li span {
  color: #fff;
}
.ggin-navi .inner__right ul .m-r--7 {
  margin-right: 7px;
}
.ggin-navi .inner__right ul .bar::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  margin: 0 10px;
  background: #b1b1b1;
  top: 1px;
}
.ggin-navi .inner__right ul .help {
  border-radius: 30px;
  background: #3d3d3d;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.ggin-navi .inner__right ul .help .num {
  line-height: 1.6;
}
.ggin-navi .inner__right ul .help .num::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  position: relative;
  margin: 0 7px;
  background: #fff;
}
.ggin-contents {
  background: url("../img/ssp/ggin_back.png") no-repeat center top #f2f4f7;
  padding-top: 69px;
  min-width: 1200px;
}
.ggin-contents h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
}
.ggin-contents--inner {
  width: 1200px;
  background: #fff;
  margin: 0 auto;
  padding: 28px 60px;
  border: 1px solid #dce1eb;
}
.ggin-contents--inner .sub-tit {
  text-align: center;
  margin-bottom: 30px;
}
.ggin-contents--inner .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
.ggin-contents--inner .search-item {
  border-radius: 5px;
  background: #f2f2f2;
  border: 1px solid #c9c9c9;
  width: 50%;
  height: 212px;
  padding: 35px 0 0 40px;
}
.ggin-contents--inner .search-item:first-child {
  margin-right: 21px;
}
.ggin-contents--inner .search-item h2 {
  margin-bottom: 17px;
}
.ggin-contents--inner .search-item .txt {
  margin-left: 11px;
}
.ggin-contents--inner .search-item .radio-area label {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #afafaf;
  background: #fff;
  margin: 0 4px 10px 0;
  line-height: 38px;
}
.ggin-contents--inner .search-item .radio-area .radio-select:checked + .label-select {
  border: 1px solid #3d3d3d;
  color: #fff;
  background: #3d3d3d;
}
.ggin-contents--inner .search-item .input-area {
  margin-bottom: 18px;
}
.ggin-contents--inner .search-item .input-area input[type=text] {
  width: 383px;
  margin-right: 1px;
}
.ggin-contents--inner .search-item .input-area button[type=button] {
  color: #fff;
  width: 49px;
  height: 39px;
  background: #3d3d3d;
  border-radius: 3px;
  position: relative;
  top: 1px;
}
.ggin-contents--inner .sports-tit {
  padding-bottom: 18px;
}
.ggin-contents--inner .sports-tit span {
  font-size: 22px;
  font-weight: bold;
}
.ggin-contents--inner .sports-tit span:last-child::after {
  content: none;
}
.ggin-contents--inner .sports-tit span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 18px;
  background: #b1b1b1;
  margin: 0 14px;
  position: relative;
  top: 1px;
}
.ggin-contents--inner .sports-con {
  padding: 30px 0 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ggin-contents--inner .sports-con__thumb {
  width: calc(100% - 172px);
}
.ggin-contents--inner .sports-con__thumb .icon {
  width: 110px;
  margin-bottom: 50px;
  float: left;
  margin-right: 70px;
}
.ggin-contents--inner .sports-con__thumb .icon-wrap {
  width: 110px;
  height: 110px;
  border: 1px solid #afafaf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}
.ggin-contents--inner .sports-con__thumb .icon span {
  font-size: 17px;
  font-weight: 500;
  display: block;
  text-align: center;
  word-break: keep-all;
}
.ggin-contents--inner .sports-con__list {
  width: 172px;
}
.ggin-contents--inner .sports-con__list span {
  margin-bottom: 14px;
  display: block;
}
.ggin-contents--inner .sports-con__list ul {
  padding-left: 20px;
}
.ggin-contents--inner .sports-con__list ul li {
  position: relative;
  margin-bottom: 14px;
}
.ggin-contents--inner .sports-con__list ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #8d8d8d;
  left: -15px;
}
.ggin .footer {
  background: #f2f4f7 !important;
}
.ggin .footer-inner {
  border-top: none !important;
}

.border-b {
  border-bottom: 1px solid #3d3d3d;
}