.clb::after {
  clear: both;
  content: "";
  display: block;
}

.container.scheMonth .nosearchTitle {
  margin: 76px 0 45px;
}
.container.scheMonth .list-info {
  display: flex;
  align-items: flex-start;
}
.container.scheMonth .list-info__left {
  width: 477px;
}
.container.scheMonth .list-info__left .calendar {
  overflow: hidden;
  padding: 25px;
  border: solid 1px #bcbcbc;
  border-radius: 5px;
}
.container.scheMonth .list-info__left .calendar-header {
  display: flex;
  justify-content: flex-start;
}
.container.scheMonth .list-info__left .calendar-header--title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}
.container.scheMonth .list-info__left .calendar-header--title strong {
  font-size: 23px;
  font-weight: 500;
  color: #333;
}
.container.scheMonth .list-info__left .calendar-header--month {
  margin: 18px auto 0;
  text-align: center;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333;
}
.container.scheMonth .list-info__left .calendar-header--month strong {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.41;
}
.container.scheMonth .list-info__left .calendar-header--btn {
  display: flex;
  justify-content: flex-start;
}
.container.scheMonth .list-info__left .calendar-header--btn > div {
  width: 33px;
  height: 33px;
  border-radius: 50px;
  text-align: center;
  border: solid 1px #b1b1b1;
  background-color: #fff;
  line-height: 38px;
}
.container.scheMonth .list-info__left .calendar-header--btn .next {
  margin-left: 8px;
}
.container.scheMonth .list-info__left .calendar-header--btn .next i {
  transform: rotate(-90deg);
  width: 10px;
}
.container.scheMonth .list-info__left .calendar-header--btn .prev {
  margin-left: 9px;
}
.container.scheMonth .list-info__left .calendar-header--btn .prev i {
  transform: rotate(90deg);
  width: 10px;
}
.container.scheMonth .list-info__left .calendar-marker {
  margin-top: 42px;
  padding-left: 35px;
}
.container.scheMonth .list-info__left .calendar-marker span {
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin-right: 30px;
  padding-left: 25px;
}
.container.scheMonth .list-info__left .calendar-marker span:last-child {
  margin-right: 0;
}
.container.scheMonth .list-info__left .calendar-marker span::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -25px;
  border-radius: 50px;
}
.container.scheMonth .list-info__left .calendar-marker .marker-purple::before {
  background-color: #372e81;
}
.container.scheMonth .list-info__left .calendar-marker .marker-green::before {
  background-color: #4ea73d;
}
.container.scheMonth .list-info__left .calendar-marker .marker-blue::before {
  background-color: #0994d5;
}
.container.scheMonth .list-info__left .calendar-marker .marker-grey::before {
  background-color: #b5ae99;
}
.container.scheMonth .list-info__left .calendar-body {
  margin-top: 17px;
  border-top: 1px solid #c8c3c3;
}
.container.scheMonth .list-info__left .calendar-body li {
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 14px;
  font-weight: normal;
  color: #949494;
  width: 55px;
  margin-right: 6px;
  text-align: center;
}
.container.scheMonth .list-info__left .calendar-body li:last-child {
  margin-right: 0;
}
.container.scheMonth .list-info__left .calendar-body--day .is_active {
  background-color: #025ac6;
  border: 1px solid #025ac6;
  color: #fff;
}
.container.scheMonth .list-info__left .calendar-body--day li {
  border: solid 1px #c8c3c3;
  position: relative;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: normal;
  color: #3d3d3d;
  line-height: 55px;
  cursor: pointer;
  height: 55px;
}
.container.scheMonth .list-info__left .calendar-body--day li:nth-child(7n) {
  margin-right: 0;
}
.container.scheMonth .list-info__left .calendar-body--day li div.marker {
  position: absolute;
  width: 100%;
  bottom: 4px;
  display: flex;
  margin-left: 2px;
  justify-content: center;
}
.container.scheMonth .list-info__left .calendar-body--day li span {
  display: block;
  margin-right: 3px !important;
}
.container.scheMonth .list-info__left .calendar-body--day li span:last-child {
  margin-right: 0;
}
.container.scheMonth .list-info__left .calendar-body--day li span.marker-purple--sm {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: #372e81;
}
.container.scheMonth .list-info__left .calendar-body--day li span.marker-green--sm {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: #4ea73d;
}
.container.scheMonth .list-info__left .calendar-body--day li span.marker-blue--sm {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: #0994d5;
}
.container.scheMonth .list-info__left .calendar-body--day li span.marker-grey--sm {
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: #b5ae99;
}
.container.scheMonth .list-info__left .calendar-body--day li.grey {
  border: solid 1px #c8c3c3;
  background-color: #f2f2f2;
  color: #c1c1c1;
}
.container.scheMonth .list-info__right {
  width: calc(100% - 477px);
  padding-left: 69px;
}
.container.scheMonth .list-info__right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container.scheMonth .list-info__right .top-btns .btn {
  border: 1px solid #b1b1b1;
  width: 63px;
  height: 35px;
  border-radius: 3px;
  margin-right: 3px;
}
.container.scheMonth .list-info__right .top-btns .btn.is_active {
  background: #3d3d3d;
  color: #fff;
  border: 1px solid #3d3d3d;
}
.container.scheMonth .list-info__right .top-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container.scheMonth .list-info__right .top-search input {
  height: 35px;
  border-radius: 3px 0 0 3px;
  width: 192px;
}
.container.scheMonth .list-info__right .top-search .btn {
  border-radius: 0 3px 3px 0;
  background: #686868;
  color: #fff;
  height: 35px;
  width: 65px;
  height: 35px;
  padding: 0;
  font-weight: 300;
}
.container.scheMonth .list-info__right .con {
  padding-bottom: 55px;
}
.container.scheMonth .list-info__right .con-item {
  margin-bottom: 2px;
}
.container.scheMonth .list-info__right .con-item h3 {
  font-size: 21px;
  font-weight: bold;
  padding: 47px 0 25px 0;
}
.container.scheMonth .list-info__right .con-item dl {
  margin-bottom: 25px;
}
.container.scheMonth .list-info__right .con-item dl dt {
  font-size: 18px;
  font-weight: 500;
}
.container.scheMonth .list-info__right .con-item dl .date {
  font-family: "roboto", sans-serif;
  margin: 9px 0 5px 0;
}