.list-info.schedule {
  height: auto;
  margin-bottom: 21px;
}
.list-info.schedule .list-info-left {
  padding-top: 0;
}
.list-info.schedule .list-info-left p {
  float: none;
  font-weight: 500;
}
.list-info.schedule .list-info-left p:first-child {
  line-height: 19px;
}
.list-info.schedule .list-info-left p:last-child {
  line-height: 30px;
}
.list-info.schedule .list-info-right {
  padding-top: 2px;
}
.list-info.schedule .list-info-right .right-btn-wrap {
  margin-right: 56px;
}
.list-info.schedule .list-info-right .right-btn-wrap .schedule-btn {
  width: 63px;
  height: 35px;
  border: 1px solid #b1b1b1;
  margin-right: 2px;
}
.list-info.schedule .list-info-right .right-btn-wrap .schedule-btn:last-child {
  margin-right: 0;
}
.list-info.schedule .list-info-right .right-btn-wrap .schedule-btn.is_active {
  background: #3d3d3d;
  color: #fff;
  border-color: #3d3d3d;
}

.schedule-table {
  width: 100%;
  border-top: 1px solid #c8c3c3;
  margin-bottom: 80px;
}
.schedule-table thead th {
  padding: 11px;
  font-weight: 500;
}
.schedule-table tbody {
  border-top: 1px solid #c8c3c3;
}
.schedule-table tbody tr td {
  padding: 5px 20px;
  line-height: 24px;
}
.schedule-table tbody tr td:first-child {
  vertical-align: top;
}
.schedule-table tbody tr td:first-child .month-num {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.schedule-table tbody tr td:first-child .month-en {
  font-size: 15px;
}
.schedule-table tbody tr:first-child td {
  padding-top: 20px;
}
.schedule-table tbody tr:last-child td {
  padding-bottom: 20px;
}

.mb-79 {
  margin-bottom: 79px;
}