input::placeholder {
  color: #3d3d3d;
}

.container-inner-education {
  padding-top: 76px;
  padding-bottom: 235px;
}
.container-inner-education .education-header {
  margin-bottom: 25px;
}
.container-inner-education .education-header h2 {
  margin-bottom: 5px;
}
.container-inner-education .education-header span {
  color: #717171;
}
.container-inner-education .education-content {
  display: flex;
  text-align: center;
}
.container-inner-education .education-content h2 {
  font-size: 21px;
  margin-bottom: 5px;
}
.container-inner-education .education-content span {
  color: #717171;
}
.container-inner-education .education-content__left {
  min-width: 590px;
  height: 136px;
  border: 1px solid #acacac;
  border-radius: 10px;
  padding: 42px 189px 35px;
  margin-right: 22px;
}
.container-inner-education .education-content__right .right-upper {
  min-width: 590px;
  height: 136px;
  border: 1px solid #acacac;
  border-radius: 10px;
  padding: 42px 189px 35px;
}
.container-inner-education .education-content__right .right-lower {
  margin-top: 10px;
}

.container-inner-contents h3 {
  font-weight: 400;
  font-size: 18px;
}
.container-inner-contents .content-border {
  color: #bebebe;
  margin-top: 20px;
}
.container-inner-contents .certification-content {
  text-align: center;
  padding-top: 133px;
  padding-bottom: 218px;
}

.mt-30 {
  margin-top: 30px;
}

.wd-34 {
  width: 34% !important;
}

.mb-18 {
  margin-bottom: 18px;
}

.lowerContents {
  display: flex;
  justify-content: space-between;
}
.lowerContents .lower-icontext {
  margin-top: 20px;
}
.lowerContents .lower-icontext .icon-multi {
  margin-right: 5px;
}
.lowerContents .bottom-btn-wrap .player-btn-block {
  height: 45px;
  padding: 10px 30px;
  border-radius: 5px;
}

.mr-33 {
  margin-right: 33px;
}

.sportshero-header {
  padding: 76px 0 56px 0;
}

.hero-list::after {
  display: block;
  content: "";
  clear: both;
}
.hero-list__item {
  float: left;
}
.hero .heroPics {
  padding: 25px 15px 28px 15px;
  margin: 0 0 65px 0;
  width: 275px;
  height: 298px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}
.hero .heroPics-text {
  margin-top: 10px;
}
.hero .heroPics .heroName {
  font-size: 18px;
  font-weight: 500;
  margin-right: 120px;
}
.hero-lowerText {
  margin: 32px;
  padding-bottom: 100px;
  text-align: center;
}
.hero-lowerText span {
  font-size: 14px;
  text-align: center;
}
.hero-lowerText img {
  position: relative;
  top: 5px;
  padding: 0 2px;
}

.font-17 {
  font-size: 17px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-47 {
  margin-bottom: 47px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-78 {
  margin-bottom: 78px;
}

.hero-title {
  padding: 76px 0 57px 0;
  font-size: 25px;
}

.ml-344 {
  margin-left: 344px;
}

.mr-185 {
  margin-right: 185px;
}

.hero-detail .detail-upper {
  display: flex;
  justify-content: space-between;
}
.hero-detail__text {
  position: relative;
  top: -14px;
  font-size: 32px;
  line-height: 1.22;
}
.hero-detail__text .semiTitle {
  font-size: 17px;
  font-weight: 600;
}
.hero-detail__text .large-blue {
  margin-top: 10px;
  color: #2b6cac;
  font-weight: 500;
}
.hero-detail__text .large-black {
  font-weight: 500;
}
.hero-detail__text img {
  margin-top: 37px;
}
.hero-detail__detailText {
  line-height: 2;
  letter-spacing: normal;
}
.hero-detail__detailText h2 {
  font-size: 23px;
  font-weight: 300 !important;
  margin-bottom: 21px;
  line-height: 31px;
}
.hero-detail__detailText span {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.hero-detail .detail-lower {
  display: flex;
  justify-content: flex-end;
}

.hero-detail__detailEnd {
  display: flex;
  justify-content: space-between;
}
.hero-detail__detailEnd img {
  margin-bottom: 120px;
}

.sports_1 img {
  position: relative;
  top: 5px;
  padding: 0 2px;
}