.container.cycle .container-inner .service-em .tit-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-file button, .container.cycle .container-inner .contents .go-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.cycle .container-inner {
  padding-top: 62px;
}
.container.cycle .container-inner .info {
  padding-bottom: 64px;
  border-bottom: 1px solid #BEBEBE;
}
.container.cycle .container-inner .info h2 {
  font-weight: bold;
  margin-bottom: 32px;
}
.container.cycle .container-inner .info-con {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container.cycle .container-inner .info-con__photo {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}
.container.cycle .container-inner .info-con__photo img {
  width: 200px;
}
.container.cycle .container-inner .info-con__photo .issue {
  background: #f1f1f1;
  border: 1px solid #929292;
  border-radius: 40px;
  width: 167px;
  padding: 6px 0 6px 0;
  margin: 46px auto 0;
}
.container.cycle .container-inner .info-con__detail {
  width: calc(100% - 263px);
  position: relative;
}
.container.cycle .container-inner .info-con__detail::after {
  content: "";
  display: block;
  clear: both;
}
.container.cycle .container-inner .info-con__detail .icon-share {
  position: absolute;
  right: 0;
  top: 0;
}
.container.cycle .container-inner .info-con__detail h3 {
  margin-bottom: 14px;
}
.container.cycle .container-inner .info-con__detail--left {
  float: left;
  width: 50%;
}
.container.cycle .container-inner .info-con__detail--left dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.container.cycle .container-inner .info-con__detail--left dl dt {
  width: 76px;
  font-weight: 300;
  margin-right: 15px;
}
.container.cycle .container-inner .info-con__detail--right {
  float: left;
  width: 50%;
}
.container.cycle .container-inner .info-con__detail--right dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.container.cycle .container-inner .info-con__detail--right dl dt {
  width: 123px;
  margin-right: 30px;
  font-weight: 300;
}
.container.cycle .container-inner .timeLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 0 105px;
}
.container.cycle .container-inner .timeLine i {
  margin-right: 15px;
}
.container.cycle .container-inner .timeLine dl dd {
  color: #717171;
}
.container.cycle .container-inner .contents {
  position: relative;
  margin-bottom: 226px;
  border-top: 1px solid #929292;
}
.container.cycle .container-inner .contents .go-more {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #3D3D3D;
  left: 50%;
  transform: translateX(-50%);
  bottom: -165px;
  cursor: pointer;
}
.container.cycle .container-inner .contents .history {
  border-bottom: 1px dashed #929292;
  position: relative;
}
.container.cycle .container-inner .contents .history-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #929292;
  position: absolute;
  background: #fff;
  z-index: 1;
}
.container.cycle .container-inner .contents .history-circle--inner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #3D3D3D;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
.container.cycle .container-inner .contents .history-circle__top {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.container.cycle .container-inner .contents .history-circle__bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.container.cycle .container-inner .contents .history-con > ul {
  display: flex;
  align-items: center;
  position: relative;
  padding: 80px 0 125px;
}
.container.cycle .container-inner .contents .history-con > ul .center-bar {
  position: absolute;
  display: inline-block;
  width: 3px;
  background: #3D3D3D;
  height: 100px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.container.cycle .container-inner .contents .history-con > ul > li {
  width: 50%;
}
.container.cycle .container-inner .contents .history-con > ul > li .item {
  margin-bottom: 64px;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list {
  display: flex;
  flex-direction: column;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch {
  margin-bottom: 24px;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch h5 {
  position: relative;
  margin-bottom: 6px;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch h5::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch .line {
  display: block;
  line-height: 30px;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch .line span {
  color: #717171;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch .line span::after {
  content: "/";
  display: inline-block;
  position: relative;
  margin: 0 10px 0 11px;
}
.container.cycle .container-inner .contents .history-con > ul > li .item-list__ch .line span:last-child::after {
  content: none;
}
.container.cycle .container-inner .contents .history-con > ul .item-tit {
  margin-bottom: 23px;
  position: relative;
  display: inline-block;
}
.container.cycle .container-inner .contents .history-con > ul .item-tit span {
  color: #fff;
  padding: 6px 20px 6px 20px;
  border-radius: 22px;
  position: relative;
}
.container.cycle .container-inner .contents .history-con > ul .item-tit span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 64px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item {
  position: relative;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-bar {
  position: absolute;
  background: #a1a1a1;
  width: 1px;
  right: 0;
  top: 13px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit {
  right: 23px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3d3d3d;
  position: absolute;
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  position: absolute;
  right: -87px;
  background: #3d3d3d;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit span::after {
  right: -13px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit .blue::after {
  border-left: 16px solid #006dbc;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit .red::after {
  border-left: 16px solid #e30826;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-tit .yellow::after {
  border-left: 16px solid #ffbb00;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list {
  padding-right: 19px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch h5::after {
  right: -23px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .line {
  display: block;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .media {
  padding-right: 46px;
  margin-top: 5px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .media h5 {
  margin-bottom: 10px;
  position: relative;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .media h5::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -65px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .media ul {
  display: flex;
  justify-content: flex-end;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__left .item-list__ch .media ul li {
  margin-left: 10px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right {
  padding-left: 64px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item {
  position: relative;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-bar {
  position: absolute;
  background: #a1a1a1;
  width: 1px;
  left: 0;
  top: 15px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-tit {
  left: 23px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-tit::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3d3d3d;
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-tit::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  position: absolute;
  left: -87px;
  background: #3d3d3d;
  top: 50%;
  transform: translateY(-50%);
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-tit span::after {
  left: -13px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-tit .green::after {
  border-right: 16px solid #92bb28;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list {
  padding-left: 19px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch h5::after {
  left: -23px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch .line .media {
  padding-left: 46px;
  margin-top: 5px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch .line .media h5 {
  margin-bottom: 10px;
  position: relative;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch .line .media h5::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -65px;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch .line .media ul {
  display: flex;
  align-items: center;
}
.container.cycle .container-inner .contents .history-con > ul .history-con__right .item-list__ch .line .media ul li {
  margin-right: 10px;
}
.container.cycle .container-inner .state {
  margin-bottom: 70px;
}
.container.cycle .container-inner .state-top {
  margin-bottom: 25px;
}
.container.cycle .container-inner .state-top h3 {
  margin-bottom: 3px;
}
.container.cycle .container-inner .state-top p {
  color: #717171;
}
.container.cycle .container-inner .state ul {
  display: flex;
  justify-content: space-between;
}
.container.cycle .container-inner .state ul li {
  width: 50%;
}
.container.cycle .container-inner .state ul li:first-child {
  margin-right: 22px;
}
.container.cycle .container-inner .state ul li .state-item {
  border: 1px solid #acacac;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 136px;
}
.container.cycle .container-inner .state ul li .state-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.container.cycle .container-inner .state ul li .state-item h3 {
  margin-bottom: 5px;
}
.container.cycle .container-inner .state ul li .state-item p {
  color: #717171;
}
.container.cycle .container-inner .state ul li .sub-tit {
  color: #717171;
  text-align: center;
  margin-top: 11px;
}
.container.cycle .container-inner .service-top {
  margin-bottom: 25px;
}
.container.cycle .container-inner .service-top h3 {
  margin-bottom: 5px;
}
.container.cycle .container-inner .service-top p {
  line-height: 27px;
  color: #717171;
}
.container.cycle .container-inner .service-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container.cycle .container-inner .service-list ul .service-list__item:last-child {
  margin-right: 0;
}
.container.cycle .container-inner .service-list ul .service-list__item:hover > div {
  background: #F5F5F5;
  box-shadow: 5px 5px 10px #00000012;
}
.container.cycle .container-inner .service-list ul .service-list__item:hover > div::after {
  border: 2px solid #3D3D3D;
}
.container.cycle .container-inner .service-list ul .service-list__item > div {
  width: 280px;
  border-radius: 10px;
  height: 364px;
  margin-right: 24px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}
.container.cycle .container-inner .service-list ul .service-list__item > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #acacac;
  top: 0;
  left: 0;
}
.container.cycle .container-inner .service-list ul .service-list__item > div strong {
  display: block;
  text-align: center;
  padding-top: 43px;
  height: 136px;
}
.container.cycle .container-inner .service-list ul .service-list__item > div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
}
.container.cycle .container-inner .service-list ul .service-list__item > div p {
  padding: 0 34px;
  color: #717171;
}
.container.cycle .container-inner .service-list ul .service-list__item .list-tit {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #3D3D3D;
}
.container.cycle .container-inner .service-em {
  padding-bottom: 137px;
  margin-top: 100px;
}
.container.cycle .container-inner .service-em::after {
  content: "";
  display: block;
  clear: both;
}
.container.cycle .container-inner .service-em h3 {
  margin-bottom: 36px;
}
.container.cycle .container-inner .service-em .tit-area .line {
  display: inline-block;
  height: 1px;
  background: #3D3D3D;
}
.container.cycle .container-inner .service-em__left {
  float: left;
  width: calc(50% - 13px);
  margin-right: 74px;
}
.container.cycle .container-inner .service-em__left .tit-area .line {
  width: 360px;
}
.container.cycle .container-inner .service-em__left .emInfo {
  padding-top: 20px;
  height: 452px;
}
.container.cycle .container-inner .service-em__left .emInfo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.container.cycle .container-inner .service-em__left .emInfo-item:last-child {
  margin-bottom: 0;
}
.container.cycle .container-inner .service-em__left .emInfo-item .date {
  width: 60px;
  height: 60px;
  border: 1px solid #ACACAC;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 14px;
}
.container.cycle .container-inner .service-em__left .emInfo-item .date .dday {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #acacac;
  color: #717171;
  height: 23px;
}
.container.cycle .container-inner .service-em__left .emInfo-item dl dt {
  margin-bottom: 5px;
}
.container.cycle .container-inner .service-em__left .emInfo-item dl dd {
  color: #717171;
  font-size: 15px;
}
.container.cycle .container-inner .service-em__right {
  float: left;
  width: calc(50% - 63px);
}
.container.cycle .container-inner .service-em__right .tit-area .line {
  width: 376px;
}
.container.cycle .container-inner .service-em__right ul {
  height: 452px;
  padding-top: 24px;
  box-sizing: border-box;
}
.container.cycle .container-inner .service-em__right ul li {
  margin-bottom: 27px;
}
.container.cycle .container-inner .service-em__right ul li:last-child {
  margin-bottom: 0;
}
.container.cycle .container-inner .service-em .foot {
  border-top: 1px solid #A1A1A1;
  padding-top: 28px;
}
.container.cycle .container-inner .service-em .foot .btn-more {
  width: 45px;
  background: url("../../img/main/sche_more.svg") no-repeat;
  background-position: 9px top;
  font-size: 15px;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
}
.container.cycle .container-inner .service-em .foot .btn-more a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add-file {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.add-file button {
  width: 40px;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 50%;
  margin: 0 2.5px;
  background: #fff;
}

.w-127 {
  width: 127px;
}

.w-154 {
  width: 154px;
}

.w-288 {
  width: 288px;
}

.w-127 {
  width: 127px;
}

.w-1091 {
  width: 1091px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.b-none {
  border: none !important;
}

.blue {
  background: #006dbc;
}

.red {
  background: #e30826;
}

.yellow {
  background: #ffbb00;
}

.green {
  background: #92bb28;
}