.wrap.ssp-sub .container.cycle .service-em .tit-area, .wrap.ssp-sub .container .container-inner .contents .board-list__top--r, .wrap.ssp-sub .container .container-inner .contents .board-list__top--l, .wrap.ssp-sub .container .container-inner .contents .board-list__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-wrap, .add-file button, .wrap.ssp-sub .container.cycle .history .go-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap.ssp-sub .container .container-inner .tit {
  margin-bottom: 30px;
}
.wrap.ssp-sub .container .container-inner .contents {
  padding-top: 14px;
}
.wrap.ssp-sub .container .container-inner .contents-txt {
  margin-bottom: 50px;
}
.wrap.ssp-sub .container .container-inner .contents-txt p {
  line-height: 35px;
  margin-bottom: 37px;
  display: block;
}
.wrap.ssp-sub .container .container-inner .contents-photo {
  display: block;
  margin-bottom: 65px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list {
  margin-bottom: 160px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top {
  margin-bottom: 18px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--l .icon-list {
  margin-right: 6px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r {
  height: 35px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r select {
  height: 100%;
  border: 1px solid #B1B1B1;
  border-radius: 3px;
  margin-right: 7px;
  padding-left: 10px;
  cursor: pointer;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r .input-area {
  height: 100%;
  align-items: center;
  font-size: 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r .input-area input {
  height: 100%;
  vertical-align: middle;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r .input-area input[type=text] {
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r .input-area input[type=submit] {
  color: #fff;
  background: #686868;
  padding: 0;
  width: 65px;
  border-radius: 0 3px 3px 0;
  border: none;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__top--r .input-area input[type=submit]:hover {
  background: #3D3D3D;
  cursor: pointer;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table thead {
  border-radius: 5px;
  background: #F2F2F2;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table thead tr th {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #6e6e6e;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table thead tr th:first-child {
  border-left: 1px solid #6e6e6e;
  border-radius: 5px 0 0 5px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table thead tr th:last-child {
  border-right: 1px solid #6e6e6e;
  border-radius: 0 5px 5px 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table tbody tr {
  padding: 10px 0;
  height: 71px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table tbody tr td {
  text-align: center;
  border-bottom: 1px solid #BCBCBC;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table tbody tr td i.icon-message,
.wrap.ssp-sub .container .container-inner .contents .board-list__con table tbody tr td i.icon-lock {
  vertical-align: sub;
  margin-right: 8px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con table tbody tr td.tit {
  text-align: left;
  padding-left: 30px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item {
  border: 1px solid #bcbcbc;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 20px;
  cursor: pointer;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul li {
  text-align: center;
  position: relative;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul li::after {
  content: "";
  display: block;
  background: #B1B1B1;
  position: absolute;
  height: 15px;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul li:last-child::after {
  content: none;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul .num {
  width: 5%;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul .title {
  width: 65%;
  text-align: left;
  padding-left: 24px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul .name {
  width: 10%;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul .date {
  width: 13%;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con--item ul .file {
  width: 7%;
}
.wrap.ssp-sub .container .container-inner .contents .board-list__con .board-list__con--item.is_active {
  border: 1px solid #6e6e6e;
  background: #F2F2F2;
  box-shadow: 3px 3px 6px #0000001A;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV {
  display: flex;
  flex-wrap: wrap;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item {
  border: 1px solid #bcbcbc;
  width: calc(100%/4 - 10px);
  height: 223px;
  border-radius: 5px;
  margin: 0 13px 13px 0;
  padding: 30px 20px 0 25px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item:nth-child(4n) {
  margin-right: 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item dl dt {
  margin-bottom: 12px;
  font-weight: 500;
  padding-right: 15px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item dl dd {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 47px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 15px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item dl dd .add-file button {
  margin: 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list .cardV .cardV-item.is_active {
  border: 1px solid #6e6e6e;
  background: #F2F2F2;
  box-shadow: 3px 3px 6px #0000001A;
}
.wrap.ssp-sub .container .container-inner .contents .board-list.cardV .board-list__top {
  justify-content: flex-start;
  margin-bottom: 29px;
}
.wrap.ssp-sub .container .container-inner .contents .board-list.cardV .board-list__top--l {
  width: 303px;
  justify-content: flex-start;
}
.wrap.ssp-sub .container .container-inner .contents .board-list.cardV .board-list__top--r .input-area input[type=text] {
  width: 233px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit {
  border-bottom: 1px solid #BCBCBC;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit h3 {
  height: 80px;
  border: 1px solid #6E6E6E;
  line-height: 80px;
  background: #F2F2F2;
  font-weight: 500;
  padding-left: 30px;
  border-radius: 5px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner {
  padding: 24px 0 9px 30px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner .line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 13px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner .line dl {
  display: inline-flex;
  align-items: center;
  margin-right: 35px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner .line dl dt {
  vertical-align: middle;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner .line dl dd {
  display: flex;
  align-items: center;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__tit .inner .line dl dd .add-file {
  margin-left: 17px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__con {
  margin-bottom: 156px;
  padding: 50px 30px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__con p {
  line-height: 35px;
  margin-bottom: 20px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__con h5 {
  margin-bottom: 10px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__con .con-a {
  padding-top: 48px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail__con .con-q,
.wrap.ssp-sub .container .container-inner .contents .board-detail__con .con-a {
  border-bottom: 1px solid #6e6e6e;
  padding: 48px 30px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire {
  padding: 51px 0 0 30px;
  margin-bottom: 116px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-top {
  padding: 0 0 29px 105px;
  background: url(../img/common/warning.svg) no-repeat left 0;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-top strong {
  margin-bottom: 7px;
  display: block;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-top p {
  line-height: 26px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con {
  display: flex;
  flex-direction: column;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con > div span {
  margin-right: 20px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__tit .input-area input {
  width: 1091px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__txt {
  align-items: flex-start;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__txt textarea {
  height: 332px;
  padding: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  color: #3D3D3D;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__file .input-area {
  display: flex;
  align-items: center;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__file .input-area input[type=text] {
  border-radius: 3px 0 0 3px;
  border-right: none;
  width: 495px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__file .input-area input[type=file] {
  display: none;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__file .input-area .upload-custom {
  display: inline-block;
  width: 95px;
  height: 40px;
  color: #fff;
  background: #686868;
  margin-bottom: 0;
  text-align: center;
  line-height: 40px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__mun .protection {
  border: 1px solid #b1b1b1;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 3px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__mun .protection #captcha {
  width: 249px;
  height: 100%;
  border-right: 1px solid #b1b1b1;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire-con__mun .protection .input-area {
  padding-left: 10px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire .foot-area {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire .foot-area .btn-write {
  width: 165px;
  height: 42px;
  background: #006DBC;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
  align-self: flex-end;
  justify-self: flex-end;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .inquire .foot-area .btn-write:hover {
  background: #0058BC;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .gong {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-top: 1px solid #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .gong img {
  margin-right: 17px;
}
.wrap.ssp-sub .container .container-inner .contents .board-detail .gong p {
  line-height: 23px;
}
.wrap.ssp-sub .container .container-inner .contents .foot-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 151px;
}
.wrap.ssp-sub .container .container-inner .contents .foot-btn a {
  display: block;
  width: 65px;
  height: 40px;
  border-radius: 3px;
  background: #686868;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.wrap.ssp-sub .container.cycle .info {
  padding-bottom: 70px;
  border-bottom: 1px solid #BEBEBE;
}
.wrap.ssp-sub .container.cycle .info h2 {
  font-weight: bold;
  margin-bottom: 32px;
}
.wrap.ssp-sub .container.cycle .info-con {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrap.ssp-sub .container.cycle .info-con__photo {
  width: 263px;
}
.wrap.ssp-sub .container.cycle .info-con__detail {
  width: calc(100% - 263px);
  position: relative;
}
.wrap.ssp-sub .container.cycle .info-con__detail::after {
  content: "";
  display: block;
  clear: both;
}
.wrap.ssp-sub .container.cycle .info-con__detail .icon-share {
  position: absolute;
  right: 0;
  top: 0;
}
.wrap.ssp-sub .container.cycle .info-con__detail h3 {
  margin-bottom: 14px;
}
.wrap.ssp-sub .container.cycle .info-con__detail--left {
  float: left;
  width: 50%;
}
.wrap.ssp-sub .container.cycle .info-con__detail--left dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.wrap.ssp-sub .container.cycle .info-con__detail--left dl dt {
  width: 76px;
  font-weight: 300;
  margin-right: 15px;
}
.wrap.ssp-sub .container.cycle .info-con__detail--right {
  float: left;
  width: 50%;
}
.wrap.ssp-sub .container.cycle .info-con__detail--right dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.wrap.ssp-sub .container.cycle .info-con__detail--right dl dt {
  width: 76px;
  margin-right: 30px;
  font-weight: 300;
}
.wrap.ssp-sub .container.cycle .timeLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 0 105px;
}
.wrap.ssp-sub .container.cycle .timeLine i {
  margin-right: 15px;
}
.wrap.ssp-sub .container.cycle .timeLine dl dd {
  color: #717171;
}
.wrap.ssp-sub .container.cycle .history {
  border-top: 1px solid #929292;
  border-bottom: 1px dashed #929292;
  position: relative;
  margin-bottom: 226px;
}
.wrap.ssp-sub .container.cycle .history-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #929292;
  position: absolute;
  background: #fff;
  z-index: 1;
}
.wrap.ssp-sub .container.cycle .history-circle--inner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #3D3D3D;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
.wrap.ssp-sub .container.cycle .history-circle__top {
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.wrap.ssp-sub .container.cycle .history-circle__bottom {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.wrap.ssp-sub .container.cycle .history .go-more {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #3D3D3D;
  left: 50%;
  transform: translateX(-50%);
  bottom: -165px;
}
.wrap.ssp-sub .container.cycle .history-con > ul {
  display: flex;
  align-items: center;
  position: relative;
  padding: 80px 0 125px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .center-bar {
  position: absolute;
  display: inline-block;
  width: 3px;
  background: #3D3D3D;
  height: 100px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul > li {
  width: 50%;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item {
  margin-bottom: 64px;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list {
  display: flex;
  flex-direction: column;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch {
  margin-bottom: 24px;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch h5 {
  position: relative;
  margin-bottom: 6px;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch h5::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch .line {
  display: block;
  line-height: 30px;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch .line span {
  color: #717171;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch .line span::after {
  content: "/";
  display: inline-block;
  position: relative;
  margin: 0 10px 0 11px;
}
.wrap.ssp-sub .container.cycle .history-con > ul > li .item-list__ch .line span:last-child::after {
  content: none;
}
.wrap.ssp-sub .container.cycle .history-con > ul .item-tit {
  margin-bottom: 23px;
  position: relative;
  display: inline-block;
}
.wrap.ssp-sub .container.cycle .history-con > ul .item-tit span {
  color: #fff;
  padding: 6px 20px 6px 20px;
  border-radius: 22px;
  position: relative;
}
.wrap.ssp-sub .container.cycle .history-con > ul .item-tit span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 64px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item {
  position: relative;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-bar {
  position: absolute;
  background: #a1a1a1;
  width: 1px;
  right: 0;
  top: 9px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit {
  right: 23px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3d3d3d;
  position: absolute;
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  position: absolute;
  right: -87px;
  background: #3d3d3d;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit span::after {
  right: -13px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit .blue::after {
  border-left: 16px solid #006dbc;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit .red::after {
  border-left: 16px solid #e30826;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-tit .yellow::after {
  border-left: 16px solid #ffbb00;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list {
  padding-right: 19px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch h5::after {
  right: -23px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .line {
  display: block;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .media {
  padding-right: 46px;
  margin-top: 5px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .media h5 {
  margin-bottom: 10px;
  position: relative;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .media h5::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -65px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .media ul {
  display: flex;
  justify-content: flex-end;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__left .item-list__ch .media ul li {
  margin-left: 10px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right {
  padding-left: 64px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item {
  position: relative;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-bar {
  position: absolute;
  background: #a1a1a1;
  width: 1px;
  left: 0;
  top: 9px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-tit {
  left: 23px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-tit::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #3d3d3d;
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-tit::after {
  content: "";
  display: block;
  width: 64px;
  height: 3px;
  position: absolute;
  left: -87px;
  background: #3d3d3d;
  top: 50%;
  transform: translateY(-50%);
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-tit span::after {
  left: -13px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-tit .green::after {
  border-right: 16px solid #92bb28;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list {
  padding-left: 19px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch h5::after {
  left: -23px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch .line .media {
  padding-left: 46px;
  margin-top: 5px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch .line .media h5 {
  margin-bottom: 10px;
  position: relative;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch .line .media h5::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -65px;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch .line .media ul {
  display: flex;
  align-items: center;
}
.wrap.ssp-sub .container.cycle .history-con > ul .history-con__right .item-list__ch .line .media ul li {
  margin-right: 10px;
}
.wrap.ssp-sub .container.cycle .service-top {
  margin-bottom: 45px;
}
.wrap.ssp-sub .container.cycle .service-top h3 {
  margin-bottom: 5px;
}
.wrap.ssp-sub .container.cycle .service-top p {
  line-height: 27px;
  color: #717171;
}
.wrap.ssp-sub .container.cycle .service-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item:last-child {
  margin-right: 0;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item:hover > div {
  background: #F5F5F5;
  box-shadow: 5px 5px 10px #00000012;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item:hover > div::after {
  border: 2px solid #3D3D3D;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item > div {
  width: 280px;
  border-radius: 10px;
  height: 364px;
  margin-right: 24px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #acacac;
  top: 0;
  left: 0;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item > div strong {
  display: block;
  text-align: center;
  padding-top: 43px;
  height: 136px;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item > div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item > div p {
  padding: 0 34px;
  color: #717171;
}
.wrap.ssp-sub .container.cycle .service-list ul .service-list__item .list-tit {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #3D3D3D;
}
.wrap.ssp-sub .container.cycle .service-em {
  padding-bottom: 137px;
  margin-top: 100px;
}
.wrap.ssp-sub .container.cycle .service-em::after {
  content: "";
  display: block;
  clear: both;
}
.wrap.ssp-sub .container.cycle .service-em h3 {
  margin-bottom: 36px;
}
.wrap.ssp-sub .container.cycle .service-em .tit-area .line {
  display: inline-block;
  height: 1px;
  background: #3D3D3D;
}
.wrap.ssp-sub .container.cycle .service-em__left {
  float: left;
  width: calc(50% - 13px);
  margin-right: 74px;
}
.wrap.ssp-sub .container.cycle .service-em__left .tit-area .line {
  width: 360px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo {
  padding-top: 20px;
  height: 452px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item:last-child {
  margin-bottom: 0;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item .date {
  width: 60px;
  height: 60px;
  border: 1px solid #ACACAC;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 14px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item .date .dday {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #acacac;
  color: #717171;
  height: 23px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item dl dt {
  margin-bottom: 5px;
}
.wrap.ssp-sub .container.cycle .service-em__left .emInfo-item dl dd {
  color: #717171;
  font-size: 15px;
}
.wrap.ssp-sub .container.cycle .service-em__right {
  float: left;
  width: calc(50% - 63px);
}
.wrap.ssp-sub .container.cycle .service-em__right .tit-area .line {
  width: 376px;
}
.wrap.ssp-sub .container.cycle .service-em__right ul {
  height: 452px;
  padding-top: 24px;
  box-sizing: border-box;
}
.wrap.ssp-sub .container.cycle .service-em__right ul li {
  margin-bottom: 27px;
}
.wrap.ssp-sub .container.cycle .service-em__right ul li:last-child {
  margin-bottom: 0;
}
.wrap.ssp-sub .container.cycle .service-em .foot {
  border-top: 1px solid #A1A1A1;
  padding-top: 28px;
}
.wrap.ssp-sub .container.cycle .service-em .foot .btn-more {
  width: 45px;
  background: url("../../img/main/sche_more.svg") no-repeat;
  background-position: 9px top;
  font-size: 15px;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
}
.wrap.ssp-sub .container.cycle .service-em .foot .btn-more a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.add-file {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.add-file button {
  width: 40px;
  height: 40px;
  border: 1px solid #BCBCBC;
  border-radius: 50%;
  margin: 0 2.5px;
  background: #fff;
}

.pagination {
  margin-top: 30px;
  position: relative;
}
.pagination-wrap span {
  width: 35px;
  height: 35px;
  border: 1px solid #BCBCBC;
  border-radius: 3px;
  margin: 0 2.5px;
  cursor: pointer;
  display: inline-block;
}
.pagination-wrap span.rotate {
  transform: rotateZ(180deg);
}
.pagination-wrap span.arrow-d {
  background: url(../img/common/pagination_arrow_d.svg) no-repeat center;
}
.pagination-wrap span.arrow {
  background: url(../img/common/pagination_arrow.svg) no-repeat center;
}
.pagination-wrap ul {
  display: flex;
  align-items: center;
  margin: 0 18px;
}
.pagination-wrap ul li {
  width: 35px;
  height: 35px;
  border: 1px solid #BCBCBC;
  border-radius: 3px;
  margin: 0 2.5px;
  cursor: pointer;
}
.pagination-wrap ul li a {
  line-height: 35px;
  text-align: center;
  display: block;
}
.pagination-wrap ul li:hover {
  background: #3D3D3D;
  border: none;
}
.pagination-wrap ul li:hover a {
  color: #fff;
}
.pagination-wrap ul li.is_active {
  background: #686868;
  border: none;
}
.pagination-wrap ul li.is_active a {
  color: #fff;
}
.pagination .btn-write {
  position: absolute;
  right: 0;
  top: 0;
  width: 165px;
  height: 42px;
  background: #006DBC;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 42px;
}
.pagination .btn-write:hover {
  background: #0058BC;
}

.w-127 {
  width: 127px;
}

.w-154 {
  width: 154px;
}

.w-288 {
  width: 288px;
}

.w-127 {
  width: 127px;
}

.w-1091 {
  width: 1091px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.b-none {
  border: none !important;
}

.blue {
  background: #006dbc;
}

.red {
  background: #e30826;
}

.yellow {
  background: #ffbb00;
}

.green {
  background: #92bb28;
}